/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Montserrat:wght@300&family=Open+Sans&display=swap');
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Spread: flex;
  --distance: space-between;
  --fit: 5%;
}
body {
  overflow-x: hidden;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
}

header {
  background-color: #4617fe;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 1.9rem;
  margin-right: 3.6rem;
  margin-left: 3.6rem;
}

.nav-item-active {
  background: white;
  font-size: 0.9rem;
  position: relative;
  left: 1.5rem;
  bottom: 7px;
}
nav .list .nav-item {
  margin: 1.1rem;
}
.nav-items {
  color: #fff;
  position: relative;
  width: 3rem;
  top: 0.7rem;
  right: 1rem;
}

.maindiv {
  display: var(--Spread);
  justify-content: var(--distance);
  padding-left: var(--fit);
  padding-top: 1rem;
}
.header-text {
  color: #fff;
  font-weight: bold;
  position: relative;
  top: 3.4rem;
  font-style: "Poppins", sans-serif;
  font-size: 1.4rem;
}
.companies {
  position: relative;
  padding-left: var(--fit);
  font-size: 1.3rem;
}
.company-items {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-weight: 900;
}
.cards {
  display: var(--Spread);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.6rem 1rem;
}
.api-heading {
  position: relative;
  right: 1.3rem;
  padding: 4rem;
}

.blog-cards {
  display: var(--Spread);
  justify-content: var(--distance);
  padding-left: 3%;
  padding-top: 0.3rem;
  flex-wrap: wrap;
}

.blog-content {
  padding: 5px;
  padding-left: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blog-bottom {
  display: var(--Spread);
  justify-content: space-around;
  right: 23px;
}
.blog-author {
  padding-right: 2.4rem;
}

.blog-card {
  display: var(--Spread);
  flex-direction: row;
  margin: 3px;
}
.blog-image {
  height: 1rem;
}

.blog-heading {
  position: relative;
  right: 1.3rem;
  padding: 4rem;
}
.faq-section {
  display: var(--Spread);
  justify-content: space-evenly;
  padding-top: 12rem;
}
.faq-content {
  background: rgb(165, 165, 234);
  width: 100%;
  height: 39vh;
  background-image: url("./images/Rectangle_38-2\ \(1\).png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right;
}
.content {
  position: relative;
  left: 3rem;
  top: 2rem;
}
.download-section {
  display: var(--Spread);
  justify-content: var(--distance);
  padding-left: var(--fit);
  padding-right: var(--fit);
  padding-top: var(--fit);
  padding-bottom: 3.5%;
  flex-wrap: wrap;
}

.download-email {
  border-radius: 14px;
}
.download-content {
  font-weight: bolder;
}
span {
  color: rgb(121, 114, 114);
}

.footer-section {
  display: var(--Spread);
  justify-content: var(--distance);
  padding-left: var(--fit);
  padding-top: 5rem;
  background: blue;
}
.footer {
  position: relative;
  bottom: 3rem;
  right: 1rem;
}
.list {
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 4px;
  color: rgb(201, 206, 210);
}

.Arrow {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  color: #fff;
  background-color: blue;
  text-align: center;
  position: relative;
  top: 3.9rem;
}

input {
  border-radius: 15px;
  padding: 10px;
}
button {
  border-radius: 15px;
  padding: 0.4rem 1.5rem;
  background: rgb(183, 183, 226);
}
p {
  font-size: 13.5px;
}

.card-head-active {
  color: blue;
}


/* mediaQuerry */


@media screen and (max-width: 660px) {
  html,
  body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    float: none;
    position: absolute;
    align-items: center;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    overflow-x: auto;
    margin-left: -0.1rem;
  }
  nav .list {
    display: flex;
    margin-top: -0.4rem;
    font-size: 1.1rem;
  }
  nav .list button {
    width: 125px;
  }
  .maindiv .header-image {
    opacity: 0.2;
    position: absolute;
    left: -7rem;
  }
  .maindiv .header-text {
    min-width: 20rem;
    font-size: x-large;
  }
  .companies {
    font-size: 20px;
  }
  .company-items {
    padding: 3px;
    font-weight: 900;
  }
  .cards {
    justify-content: center;
    align-items: center;
    gap: 34px;
  }
  .cards .Arrow{
    display: none;

  }
  .blog-cards {
   gap: 4rem;
   overflow-y: scroll;
  }
  .see-all{
    display: none;
  }

  .faq-content {
    background-image: url(./images/Rectangle_38-2\ \(1\).png);
    background-size: 100px 45px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
 .faq-section .content {
   width: 13rem;
  }
  .download-section {
    flex-wrap: wrap;
    width: 14rem;
    gap: 1rem;
    margin-left: 1.2rem;

  }
  .download-email input {
   margin-bottom: 1rem;
  }
  .footer-section .list {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .footer-section .footer{
    margin-right: 4rem;
  }
  
}

@media screen and (max-width:400px) {
   .companies {
    font-size: x-small;
  }
}